
<div class="content">
  <div class="content_block">
    <div class="content_block_name">
        <h1>
          {{ project.title }}
        </h1>
        <div class="content_block_gorod">
          <b>Описание:</b> {{ project.preview }}<br>
          <b>Город:</b>: {{ project.city }}
        </div>  
    </div>

    <div class="content_block_info">
      </div>
      <div class="content_block_opross_opross">
        <div class="content_block_opross">
          <a [href]="project.id" class="content_block_opross_text">ПОДРОБНЕЕ</a>
        </div>
      </div>
  </div>
</div>