<div class="wrapper">
    <div class="main">
      <section class="mainContainer">
      </section>
      <section class="blockContainer">
          <div class="blockInfo">
            <div class="blockInfo__sfedu">

              <div class="blockInfo__about">
                <p class="blockInfo__aboutText">
                    {{ project.title }}
                </p>
              </div>
            </div>

                  
          </div>
              
      </section>
    </div>
  </div>