<div class="container-2">
<div class="content">
    <div class="content_block">
        <div class="content_block_name">
          <h1>
            АНКЕТА
          </h1>
          <div class="content_block_gorod">
            <div class="content-2">
    <form *ngIf="contactInput"
    [formGroup]="contactInfo"
    (ngSubmit)="sendContactInfo()"
>
    <input
        required
        type="text"
        placeholder="ФИО"
        formControlName="fio"
    >
    
    <input
        type="text"
        placeholder="E-mail"
        formControlName="email"
        required
    >

    <input
        type="text"
        placeholder="Номер телефона"
        formControlName="phoneNumber"
        required
    >
    </form>
            </div>
          </div>  
        </div>
        <div class="content_block_opross_opross">
          <div class="content_block_opross">
            <button class="content_block_opross_text" type="submit">Продолжить</button>
          </div>
        </div>
      </div>
</div>
</div>




<div *ngIf="!contactInput && !thankYou">
    <div class="container-2">
        <div class="content">
    <form #quizForm="ngForm"
        (submit)="confirmQuiz(quizForm)"
    >
        <div *ngFor="let quiz of quizQuestions">
            <br>{{ quiz.question }}<br>
            <label>
                <input
                    id="0"
                    type="radio"
                    [value]="quiz.answers[0]"
                    [name]="quiz.id"
                    ngModel
                    required
                >
                {{ quiz.answers[0] }}
            </label><br>

            <label>
                <input
                    id="1"
                    type="radio"
                    [value]="quiz.answers[1]"
                    [name]="quiz.id"
                    ngModel
                    required
                >
                {{ quiz.answers[1] }}
            </label><br>

            <label>
                <input
                    id="2"
                    type="radio"
                    [value]="quiz.answers[2]"
                    [name]="quiz.id"
                    ngModel
                    required
                >
                {{ quiz.answers[2] }}
            </label><br>

            <label>
                <input
                    id="3"
                    type="radio"
                    [value]="quiz.answers[3]"
                    [name]="quiz.id"
                    ngModel
                    required
                >
                {{ quiz.answers[3] }}
            </label><br>
        </div>
        <button type="submit" >Отправить</button>
    </form>
</div>
</div>

</div>


<br><br><b><a *ngIf="thankYou">Спасибо, ваш ответ получен</a></b><br><br>