/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6,h7,h8{font-size:inherit;font-weight:inherit;}
/*--------------------*/

/*FONT-FACE
==================*/
@font-face {
	font-family: 'GolosTextWebBold';
	src: url('./style/bold/golos-text_bold.ttf') format('truetype'),
		url('./style/bold/golos-text_bold.woff2') format('woff2'),
		url('./style/bold/golos-text_bold.woff') format('woff');
}
@font-face {
	font-family: 'GolosTextWebVf';
	src: url('./style/vf/golos-text_vf.ttf') format('truetype'),
		url('./style/vf/golos-text_regular.woff2') format('woff2'),
		url('./style/vf/golos-text_regular.woff') format('woff');
}
@font-face {
	font-family: 'GolosTextWebRegular';
	src: url('./style/regular/golos-text_regular.ttf') format('truetype'),
		url('./style/regular/golos-text_regular.woff2') format('woff2'),
		url('./style/regular/golos-text_regular.woff') format('woff');
}

/*ROOT
==================*/ 
:root {
    --container: 900px;
    --blockContainer: 1130px;
    --darkBlue: #003274;
    --blue: #025EA1 ;
    --white: #D3D3D3;
    --yeloy: #B2C541;
    --grin: #6FB22F;
    --darkgrin: #288909;
}
body {
position: relative;
}

/*ШАПКА
==================*/

.logo_wrapper {
    padding: 10px;
}

.img_header_logo{
    max-width: 30px;
}

.container {
    max-width: 100%;
    min-height: 100vh;
    padding-left: calc(50% - var(--container) / 2);
    padding-right: calc(50% - var(--container) / 2);
    background-color: white;
}

.container-2 {
    max-width: 100%;
    min-height: 85vh;
    padding-left: calc(50% - var(--container) / 2);
    padding-right: calc(50% - var(--container) / 2);
    background-color: white;
}

.header{  
    border-width: 0 0 1.5px 0;
    border-style: solid;
    border-color: #B5B5B5;
    min-width: 100%;
}

.wrapper {
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: center;
    min-width: 100%;
    background-color: #288909;

}

.headerWrapper {
    display: flex;
    justify-content: center;
    background-color: #288909;
    min-width: 100%;
}

/*CONTENT СТИЛИ
==================*/
h1{
    color: #003274;
    text-align: center;
    text-transform: uppercase;
    font-family: 'GolosTextWebBold';
    font-size: 23px;
    
}

b{
    color: #003274;
    text-align: center;
    text-transform: bold;
}


/*CONTENT
==================*/

.app_project{
    min-height: 100vh;
    padding: 0 0 10px 0;
    /* background-color: white; */
}

.content{
    display: flex;
    justify-content: center;
    padding: 20px 15px 0 15px;
}

.content_block{
    width: 100%;
    background-color: #6FB22F;
    border-radius: 20px;

}

.content_block_name{
    max-width: 100%;
    padding: 10px 10px 10px 10px;
}

.content_block_gorod{
    color: black;
    background-color: #B5B5B5;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
}

.content_block_info{
   
}

.content_block_opross_opross{
    padding: 0px 0 20px 0;
}

.content_block_opross{
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #025EA1;
    padding: 20px 20px;
    width: 50%;
}

.content_block_opross_text{
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'GolosTextWebBold'
}
.splitter{
    height: 100%;
}

.wrapp {
    min-height: 90%;
}

.app_project{
    justify-content: center;
}


/*FOOTER
==================*/
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    justify-content: center;
    padding: 30px 0;
    border-width: 1.5px 0 0 0;
    border-style: solid;
    border-color:black ;
    background-color: #B5B5B5;
}

.footer__text {
	text-align: center;
    color: #003274;
}

