<div class="class">
  <header class="header">
    <div class="wrapper">
      <div class="container">
          <div class="headerWrapper">
                <img class="img_header_logo" src="app/jpg/logoGreenColor.png">  
            </div>
        </div>   
      </div>    
  </header>
  <div class="wrapper">
    <router-outlet>
    </router-outlet>
  <div class="splitter">
  </div>
      <div class="footer">
        <p class="footer__text">© 2022 DEVOPSINA</p>  
      </div> 
  </div>
</div>

<div class="stule">gggggggggggggggggggggggggg</div>
