<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../app/app.component.css"> 

        <title>IT стажировки Росатома</title>
    </head>

    <body>
        <header class="header">
            <div class="wrapper">
                <div class="headerWrapper">
                    <img class="img_header_logo" src="./jpg/logoGreenColor.png">  
                </div>
            </div>      
        </header>























        
        <div class="wrapper">
          <div class="main">
            <section class="mainContainer">
            </section>
            <section class="blockContainer">
                <div class="blockInfo">
                  <div class="blockInfo__sfedu">
                      <img class="blockInfo__img" width="100%" src="img/sfedu.jpg" alt="">

                    <div class="blockInfo__about">
                      <p class="blockInfo__aboutText">
                          СТАЖИРОВКА
                      </p>
                    </div>
                  </div>

                        
                </div>
                    
            </section>
          </div>
        </div>


        <footer class="footer">
            <p class="footer__text">© 2022 DEVOPSINA</p>

        </footer>
    </body>

</html>