<div class *ngIf="descr">
  <div class="content_block">
    <div class="content_block_name">
      <h1>
        {{ vacancy.title }}
      </h1>
      <div class="content_block_gorod">
        <b>Описание:</b> {{ vacancy.description }}<br>
        <b>Город:</b>: {{ vacancy.city }}
      </div>  
    </div>
    <div class="content_block_opross_opross">
      <div class="content_block_opross">
        <a
          class="content_block_opross_text"
          (click)="toContactInfo()"
        > ОТКЛИКНУТЬСЯ</a>
      </div>
    </div>
  </div>
</div>
<div class *ngIf="contactInfo">
  <app-contact-info></app-contact-info>
</div>
     